body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #524b4b;
  height: 100%;
}

.logo {
  width: 50px;
  height: 50px;
  margin-left: 15px;
}

.header {
  background-color: #605b5b;
  display: flex;
  height: 60px;
  align-items: center;
  border-bottom: 3px solid black;
}

.homeLogo {
  height: 150px;
  width: 150px;
  margin-top: 25px;
}

.productCard {
  height: 170px;
  width: 150px;
  background-color: #766262;
  display: flex;
  margin: 10px;
  justify-content: center;
  border: 1px solid black;
}

.productDetails {
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: center;
}
.bestSellers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.FooterBar {
  height: 60px;
  background-color: #766262;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  border-top: 3px solid black;
  bottom: 0;
  width: 100%;
}

.footerIcons {
  color: black;
}

.menuTop {
  display: flex;
  flex-direction: column;
}

.menuButtons {
  width: 80px;
  height: 40px;
  font-weight: 600;
  background-color: #766262;
  border: 1px solid black;
}

.menuButtonContainer {
  display: flex;
  justify-content: space-evenly;
}

.productName {
  font-size: 0.8rem;
  margin-bottom: 0;
  margin-top: 0;
}

.productImage {
  width: 100%;
  height: 100px;
  object-fit: cover;
  margin-bottom: 0px;
}

.productPrice {
  font-size: 1rem;
  color: black;
  font-weight: 600;
  margin-top: 0;
}

.menuContainer {
  display: flex;
  flex-wrap: wrap;
}
